<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    @*#if (IndividualLocalAuth)
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    ##endif*@
	
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
	
    <link rel="stylesheet" href="BlazorWeb-CSharp.styles.css" />
    @*#if (SampleContent)
    <link rel="icon" type="image/png" href="favicon.png" />
    ##endif*@
    @*#if (!InteractiveAtRoot)
    <HeadOutlet />
    ##elseif (IndividualLocalAuth)
    @if(RenderModeForPage is not null)
    {
        <HeadOutlet @rendermode="@RenderModeForPage" />    
    }
    else
    {
        <HeadOutlet />
    }
    ##elseif (UseServer && UseWebAssembly)
    <HeadOutlet @rendermode="@InteractiveAuto" />
    ##elseif (UseServer)
    <HeadOutlet @rendermode="@InteractiveServer" />
    ##else
    <HeadOutlet @rendermode="@InteractiveWebAssembly" />
    ##endif*@
</head>

<body>
    @*#if (!InteractiveAtRoot)
    <Routes />
    ##elseif (IndividualLocalAuth)
    @if(RenderModeForPage is not null)
    {
        <Routes @rendermode="@RenderModeForPage" />
    }
    else
    {
        <Routes />
    }
    ##elseif (UseServer && UseWebAssembly)
    <Routes @rendermode="@InteractiveAuto" />
    ##elseif (UseServer)
    <Routes @rendermode="@InteractiveServer" />
    ##else
    <Routes @rendermode="@InteractiveWebAssembly" />
    ##endif*@
    <script src="_framework/blazor.web.js"></script>
	<script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>

</html>
@*#if (!InteractiveAtRoot || !IndividualLocalAuth)
#elseif (UseServer && UseWebAssembly)

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private IComponentRenderMode? RenderModeForPage => HttpContext.Request.Path.StartsWithSegments("/Account")
        ? null
        : InteractiveAuto;
}
#elseif (UseServer)

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private IComponentRenderMode? RenderModeForPage => HttpContext.Request.Path.StartsWithSegments("/Account")
        ? null
        : InteractiveServer;
}
#else

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private IComponentRenderMode? RenderModeForPage => HttpContext.Request.Path.StartsWithSegments("/Account")
        ? null
        : InteractiveWebAssembly;
}
#endif*@
